$blue-color: rgb(50, 50, 243);
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&subset=cyrillic');

body {
  background-color: rgba(240, 233, 233, 0.712);
}

.navbar-nav {
  & .nav-link {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    &:hover {
      color: darken($blue-color, 20);
    }
  }
}