.catalog-window .list-menu {
  background-color: #f4f4f4;
}

.catalog-window .menu_item > a {
  color: #29ad32;
}

.catalog-window .menu_item.active_item {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

.catalog-window .menu_item.active_item .submenu_container {
  display: block;
}

.catalog-window .menu_item.active_item .submenu_container a:hover {
  text-decoration: underline;
}

.catalog-window .menu_item.active_item .submenu_item {
  margin-bottom: 10px;
}

.catalog-window .menu_item.active_item .submenu_item.active_item .list_sub_sub_menu {
  display: -webkit-box;
  display: flex;
}

.catalog-window .submenu_container {
  display: none;
  position: absolute;
  top: 0;
  left: 400px;
  width: 200%;
  height: auto;
  min-height: 200px;
  background-color: #fff;
}

.catalog-window .submenu_container .submenu_content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  overflow-y: auto;
}

.catalog-window .submenu_container .list_sub_menu {
  height: 100%;
  width: 420px;
  position: static;
  background: none;
}

.catalog-window .submenu_container .list_sub_menu .submenu_item_link {
  color: #00b4f0;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}

.catalog-window .submenu_container .list_sub_menu .list_sub_sub_menu {
  display: -webkit-box;
  display: flex;
}

.catalog-window .submenu_container .list_sub_menu .list_sub_sub_menu .sub_sub_menu_item {
  margin-bottom: 5px;
}

.catalog-window .submenu_container .list_sub_menu .list_sub_sub_menu a {
  padding-left: 0;
  color: #5d5d5e;
  font-size: 16px;
}

.catalog-window .submenu_container .list_sub_menu .list_sub_sub_menu a.watch-more {
  color: #29ad32;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(41, 173, 50, 0.3);
          text-decoration-color: rgba(41, 173, 50, 0.3);
}

.submenu_img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.office_equip_category .submenu_img {
  bottom: -64px;
}

.appliances_category .submenu_img {
  bottom: -149px;
}

.tv_video_category .submenu_img {
  bottom: -110px;
}

.audio_category .submenu_img {
  bottom: -180px;
}

.auto_category .submenu_img {
  bottom: -166px;
}

.home_category .submenu_img {
  bottom: -408px;
}

.tourism_category .submenu_img {
  bottom: -231px;
}

.repair_category .submenu_img {
  bottom: -40px;
}

.submenu_img img {
  max-width: 100%;
  max-height: auto;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .catalog-window .menu_item.active_item .submenu_item {
    margin-bottom: 5px;
  }

  .catalog-window .submenu_container {
    position: static;
    width: 100%;
    min-height: auto;
  }

  .catalog-window .submenu_container .submenu_content {
    display: block;
  }

  .catalog-window .submenu_container .list_sub_menu {
    padding-top: 0;
    width: 100%;
  }

  .catalog-window .submenu_container .list_sub_menu .submenu_item_link {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .catalog-window .submenu_container .list_sub_menu .list_sub_sub_menu {
    display: none;
  }

  .submenu_img {
    display: none;
  }
}